/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


    /*----------- BODY --------------*/
    
    
    
    /*----------- HEADER --------------*/
        header img {width: auto;}
        header h1 {font-size: 2rem;}
        header h2 {font-size: 1.3rem;}
    
    
    /*----------- NAVIGATION --------------*/
        nav button {
            display: none;
        }
        nav ul {margin-left: 2%;}

        nav ul.hide {
            display: block;
        }

        nav ul li {float: left;}
    
        nav ul li a{
            padding: .8rem 1rem;
            border-top: none;
        }
    
    
    /*----------- MAIN --------------*/
    
    main img {
        width: 630px;
        margin: auto;
    }

    .boardofd {
        display:grid;
        grid-template-columns: 50% 50%;
    }
    .director {
        max-width: 300px;
    }
    .pfp {
        max-width: 200px;
    }
    /*-----Forecast-----*/


    /*WIREFRAMES*/

    /*----------- FOOTER --------------*/
        
    } /* end of media query */