/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


    /*----------- BODY --------------*/
    
    
    
    /*----------- HEADER --------------*/
        header img {width: auto;}
        header h1 {font-size: 2rem;}
        header h2 {font-size: 1.3rem;}
    
    
    /*----------- NAVIGATION --------------*/
        nav button {
            display: none;
        }
        nav ul {margin-left: 2%;}

        nav ul.hide {
            display: block;
        }

        nav ul li {float: left;}
    
        nav ul li a{
            padding: .8rem 1rem;
            border-top: none;
        }
    
    
    /*----------- MAIN --------------*/
    .greet {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .pgtophome {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        margin: 2rem;
    }
    .home1 {
        display: block;
        width: 100%;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .home2 {
        display: block;
        width: 100%;
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .home3 {
        display: block;
        width: 100%;
        grid-column: 1/3;
        grid-row: 1/2;
    }

    main img {
        width: 630px;
        margin: auto;
    }

    div.events {
        border: 2px solid #30375a;
        border-radius: 15px;
        padding: .4rem;
        width: 400px;
        float: right;
    }

    .towndaypics {
        width: 50%;
        float: right;
    }

    .boardofd {
        display:grid;
        grid-template-columns: 50% 50%;
    }
    .director {
        max-width: 300px;
    }
    .pfp {
        max-width: 200px;
    }

    .cards {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    /*-----Forecast-----*/


    /*----------- FOOTER --------------*/
        
    } /* end of media query */