@media screen and (min-width: 1028px) {


    nav ul {
        padding-left: 2%;
    }

    nav ul li {
        flex-basis: auto;
    }

    header, footer, nav, main {
        max-width: 75rem;
        margin: auto;
    }

    main figure {
        width: 32%;
    }

    div.news {
        column-count: 3;
    }
}