/*SMALL CSS HERE-----------------------------------------------*/

.cards {
    display: grid;
    grid-template-columns: 100%;
}

section{
    display: block;
    width: 250px;
    text-align: center;
    padding: .5rem;
    margin: 1rem;
    background-color: #aca3c5;
    box-shadow: 3px 3px 7px grey;
    border-radius: 7px;
}
img {
    height: 300px;
    box-shadow: 1px 1px 5px grey;
}
h2{
    font-size: 18pt;
    color: #413953;
    text-shadow: 0px 0px 9px #ffffff;
}



/*MEDIUM CSS HERE-----------------------------------------------*/
@media only screen and (min-width: 35rem) {

.cards {
    display: grid;
    grid-template-columns: 50% 50%;
    }


}

/*LARGE CSS HERE-----------------------------------------------*/
@media only screen and (min-width: 64rem) {

.cards {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    }


}